[environment]
update_method = git-pull
connect_method = ssh
target_directory = /home/plone/myprojectstaging
host_domain = rohberg.ch
service_user = plone

[hosts]
lilie = 
  pm2
  varnish
  voltoapp
  haproxy
  zope
  instance1
  instance2
  elasticsearch
  common


[component:varnish]
address = 127.0.0.1:11090
control_port = 11091

[component:voltoapp]
address = localhost:3200
# apprepository = git@github.com:ksuess/vanillavoltoproject.git
razzleapipath = https://staging.myproject.ch/api

[component:haproxy]
# jail_dir = /home/plone/haproxy/jail
port = 11080
address = 127.0.0.1:11080

[component:zope]
adminpw = admin
# backupsdir
zeoaddress = 127.0.0.1:11981
[component:instance1]
address = 127.0.0.1:11991
[component:instance2]
address = 127.0.0.1:11992

[component:elasticsearch]
uri = https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.9.3-darwin-x86_64.tar.gz
checksum = sha512:b13cbb8efeb65b941f4600504a2554208db29d8dd57319f26189dee7bb78cec84e35fce0eda47693662b732af0aad6bd89e5df2bfe7b8ccab208c990110a8221

[component:pm2]
voltoappname = staging.myproject.ch-volto
varnishname = staging.myproject.ch-varnish
zopename = staging.myproject.ch-zopename
