StrictHostKeyChecking no
Host github.com
    Hostname ssh.github.com
    User rohbergdeployment
    Port 443
    IdentityFile ~/.ssh/id_rsa_github_rohbergdeployment

# User rohbergdeployment instead of git
# rohbergdeployment is collaborator on github repositories
# IdentityFile ~/.ssh/id_rsa_rohbergdeployment
# IdentityFile {{component.workdir}}/andermatt/.ssh/github_rsa_rohbergdeployment
